// Descriptive color variables

$white          : #fff;
$black          : #000;
$black-lighten: Lighten($black, 20%)

$grey           : #878787;
$grey-lighten:  Lighten($grey, 20%)

$regent-st-blue : #add8e6;
$regent-st-blue-lighten: Lighten($regent-st-blue, 20%)

$river-bed      : #48525c;
$river-bed-lighten: Lighten($river-bed, 20%)


$yellow-orange  : #ffa949;
$yellow-orange-lighten: Lighten($yellow-orange, 20%)




// Functional color variables


$color-prim           : $yellow-orange;
$color-sec            : $river-bed;


$color-text-light     : $white;
$color-text-base      : $grey;
$color-text-dark      : $river-bed;


$color-border-light   : lighten($grey, 35%);
$color-border-dark    : $yellow-orange;

$color-link-default   : $yellow-orange;
$color-link-visited   : $regent-st-blue;

$color-shadow         : rgba($black,.8);
$color-body           : $white;


// Media Queries

$break: 768px;
