/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $regent-st-blue;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    transition-duration: 0.4s;
  }
}

.default {
  background-color: $yellow-orange;
  &:hover {
    background-color: $yellow-orange-lighten;
  }
}

.error {
  background-color: $grey;
  &:hover {
    background-color: $grey-lighten;
  }
}

.info {
  background-color: $river-bed;
  &:hover {
    background-color: $river-bed-lighten;
  }
}

.success {
  background-color: $apricot;
  &:hover {
    background-color: $apricot-lighten;
  }
}

.warning {
  background-color: $black;
  &:hover {
    background-color: $black-lighten;
  }
}
